<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleBase.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery.mask.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/pagination/table-sortable.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    {% block head %}
    {% endblock head %}

    <title>CARS</title>
</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/dashboard">
                    <img style="width: 3%;" src="{{ url_for('static', filename='img/Logo car.png') }}">
                    <span class="ml-1"><b>MAY CAR</b></span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarNav">
                    <ul class="navbar-nav m-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/carro/lista">Carros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Manutenções</a>
                        </li>
                    </ul>
                    <div class="user">
                        <div class="btn-group">
                            <button class="btn btn-light dropdown-menu-right center" id="btn" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined" style="font-size: 30px;">account_circle</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark pull-right">
                                <li><span class="dropdown-item">ADMIN</span></li>
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><a class="dropdown-item" href="/logout">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="container-fluid p-4">
            {% block conteudo %}
                
            {% endblock conteudo %}
        </section>
    </div>
    {% block script %}
    {% endblock script %}
</body>
</html>